In [4]:
# Merge and Concat DataFrames 
import pandas as pd
var1 = pd.DataFrame({'a': [1,2,3,4], 'b':[10,20,30,40]})
var2 = pd.DataFrame({'a': [1,2,3,4], 'c':[50,60,70,80]})
pd.merge(var1, var2, on='a')  #In 'on' parameter we give the common part

# In case single data change in the common part 
var1 = pd.DataFrame({'a': [1,2,3,4], 'b':[10,20,30,40]})
var2 = pd.DataFrame({'a': [1,2,3,5], 'c':[50,60,70,80]})
pd.merge(var1, var2, on='a')  # It will discarded the 3rd index row
pd.merge(var1, var2, how = 'inner')  # It will give the intesection value in case of NaN it will discard teh row
pd.merge(var1, var2, how = 'outer')  # It will give the union value
pd.merge(var1, var2, how = 'left')  # First var1 will place and according to that var2 value will be placed
pd.merge(var1, var2, how = 'right')  # First var2 will place and according to that var1 value will be placed
# To check which data is merged 
pd.merge(var1, var2, how = 'outer', indicator= True)  

var1 = pd.DataFrame({'a': [1,2,3,4], 'b':[10,20,30,40]})
var2 = pd.DataFrame({'a': [1,2,3,5], 'b':[50,60,70,80]})
pd.merge(var1, var2, left_index=True, right_index=True, suffixes=("1", "2"))

   a1  b1  a2  b2
0   1  10   1  50
1   2  20   2  60
2   3  30   3  70
3   4  40   5  80

In [32]:
# Concating two series 
sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([10,20,30,40])
pd.concat([sr1, sr2])

# Concating two dataframes 
d1 = pd.DataFrame({'a': [1,2,3,4], 'b':[10,20,30,40]})
d2 = pd.DataFrame({'a': [1,2,3], 'b':[50,60,80]})
pd.concat([d1, d2])   #Concat along column
pd.concat([d1, d2], axis=1)   #Concat along row
pd.concat([d1, d2], axis=1, join ="outer")   #Return the union value
pd.concat([d1, d2], axis=1, join ="inner")   #Return the intersection value
pd.concat([d1, d2], axis=0, keys= ['d1', 'd2'])   
pd.concat([d1, d2], axis=1, keys= ['d1', 'd2'])

      a   b
d1 0  1  10
   1  2  20
   2  3  30
   3  4  40
d2 0  1  50
   1  2  60
   2  3  80